In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
# import data
olympics = pd.read_csv('olympics_08_06.csv')
population = pd.read_csv('population.csv') # https://www.kaggle.com/datasets/ayushparwal2026/country-population-from-1960-to-2022/data

population['Country Name'] = population['Country Name'].replace('Viet Nam', 'Vietnam')

In [34]:
# prep population df
olympic_years = [1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020]
population_df = population[['Country Name'] + [str(year) for year in olympic_years]]

population_clean = pd.melt(population_df, id_vars=['Country Name'], 
                  var_name='Year', value_name='population').dropna(subset=['population'])

population_clean['Year'] = population_clean['Year'].astype(int)
population_clean

                     Country Name  Year   population
0                           Aruba  1960      54608.0
1     Africa Eastern and Southern  1960  130692579.0
2                     Afghanistan  1960    8622466.0
3      Africa Western and Central  1960   97256290.0
4                          Angola  1960    5357195.0
...                           ...   ...          ...
6113                       Kosovo  2020    1790133.0
6114                  Yemen, Rep.  2020   32284046.0
6115                 South Africa  2020   58801927.0
6116                       Zambia  2020   18927715.0
6117                     Zimbabwe  2020   15669666.0

[6118 rows x 3 columns]

In [35]:
# Check for mismatches between 'country_name' and 'Country'
olympics_countries = set(olympics['country_name'].drop_duplicates())
population_countries = set(population_clean['Country Name'].drop_duplicates())

# Find codes that are in olympics but not in population
missing_in_population = olympics_countries - population_countries
print("Countries in olympics but not in population:", missing_in_population)

# Find codes that are in population but not in olympics
missing_in_olympics = population_countries - olympics_countries
print("Countires in population but not in olympics:", missing_in_olympics)

len(missing_in_population)

Countries in olympics but not in population: set()
Countires in population but not in olympics: {'Lao PDR', 'IBRD only', 'Greenland', 'IDA & IBRD total', 'Latin America & Caribbean', 'Gibraltar', 'Europe & Central Asia (IDA & IBRD countries)', 'St. Vincent and the Grenadines', 'Europe & Central Asia', 'Haiti', 'St. Martin (French part)', 'Libya', 'Bosnia and Herzegovina', 'Guinea', 'Sub-Saharan Africa', 'Early-demographic dividend', 'Cabo Verde', 'European Union', 'World', 'Africa Eastern and Southern', 'Antigua and Barbuda', 'Belize', 'Middle East & North Africa', 'Andorra', 'Northern Mariana Islands', 'South Sudan', 'St. Lucia', 'Late-demographic dividend', 'Malawi', 'Gambia, The', 'Seychelles', 'Maldives', 'Cambodia', 'Nepal', 'Low & middle income', 'Sub-Saharan Africa (excluding high income)', 'Sint Maarten (Dutch part)', 'New Caledonia', 'Low income', 'Sierra Leone', 'Least developed countries: UN classification', 'Sao Tome and Principe', 'Aruba', 'Congo, Rep.', 'Rwanda', 'Chad', 'Tanzania', 'South Asia (IDA & IBRD)', 'Monaco', 'Heavily indebted poor countries (HIPC)', 'Solomon Islands', 'Small states', 'Honduras', 'Nicaragua', 'Comoros', 'Timor-Leste', 'Middle East & North Africa (excluding high income)', 'Kiribati', 'High income', 'Albania', 'Benin', "Korea, Dem. People's Rep.", 'Not classified', 'IDA total', 'Middle East & North Africa (IDA & IBRD countries)', 'Euro area', 'Nauru', 'OECD members', 'Pre-demographic dividend', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Eswatini', 'Virgin Islands (U.S.)', 'Somalia', 'Latin America & Caribbean (excluding high income)', 'Congo, Dem. Rep.', 'Madagascar', 'IDA only', 'Lesotho', 'Middle income', 'Myanmar', 'Dominica', 'Oman', 'West Bank and Gaza', 'British Virgin Islands', 'Vanuatu', 'Micronesia, Fed. Sts.', 'El Salvador', 'Mali', 'Fragile and conflict affected situations', 'East Asia & Pacific (IDA & IBRD countries)', 'Equatorial Guinea', 'Isle of Man', 'American Samoa', 'Liberia', 'St. Kitts and Nevis', 'Bhutan', 'Tuvalu', 'Cayman Islands', 'Marshall Islands', 'Africa Western and Central', 'Lebanon', 'Yemen, Rep.', 'Channel Islands', 'Malta', 'French Polynesia', 'Europe & Central Asia (excluding high income)', 'Lower middle income', 'Mauritania', 'South Asia', 'Macao SAR, China', 'Central African Republic', 'Upper middle income', 'East Asia & Pacific (excluding high income)', 'Bolivia', 'Palau', 'Brunei Darussalam', 'Angola', 'Post-demographic dividend', 'Guam', 'Pacific island small states', 'East Asia & Pacific', 'Central Europe and the Baltics', 'Faroe Islands', 'IDA blend', 'Other small states', 'Caribbean small states', 'Curacao', 'Turks and Caicos Islands', 'Bangladesh', 'Papua New Guinea', 'Arab World', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Guinea-Bissau', 'North America'}

0

In [36]:
merged_df = olympics.merge(population_clean, 
                                  left_on=['country_name', 'year'], 
                                  right_on=['Country Name', 'Year']).drop(columns=
                                                                          ['Country Name', 'Year'])

merged_df['country_name'].nunique() #132

merged_df

,country_name,country_3_letter_code,year,medal_count,gold_count,silver_count,bronze_count,game_location,game_season,GDP,population
0,Austria,AUT,1992,21,6,7,8,France,Winter,1.950781e+11,7840709.0
1,Canada,CAN,1992,7,2,3,2,France,Winter,5.943761e+11,28371264.0
2,Czechia,TCH,1992,3,0,0,3,France,Winter,3.480501e+10,10319123.0
3,Finland,FIN,1992,7,3,1,3,France,Winter,1.125325e+11,5041992.0
4,France,FRA,1992,9,3,5,1,France,Winter,1.401466e+12,58849943.0
...,...,...,...,...,...,...,...,...,...,...,...
1186,Slovak Republic,SVK,2010,3,1,1,1,Canada,Winter,9.116284e+10,5391428.0
1187,Slovenia,SLO,2010,3,0,2,1,Canada,Winter,4.820824e+10,2048583.0
1188,Sweden,SWE,2010,11,5,2,4,Canada,Winter,4.958126e+11,9378126.0
1189,Switzerland,SUI,2010,9,6,0,3,Canada,Winter,5.988510e+11,7824909.0
1190,United States,USA,2010,37,9,15,13,Canada,Winter,1.504896e+13,309327143.0

In [37]:
#merged_df.to_csv('olympics_gdp_pop.csv', index=False)

len(merged_df)

1191

In [38]:
len(olympics)

1191

In [39]:
more_vars = pd.read_csv('area_sqft.csv')[['Country', 'Region', 'Area (sq. mi.)', 'Coastline (coast/area ratio)']].dropna()

more_vars['Country'] = more_vars['Country'].str.strip()

more_vars

,Country,Region,Area (sq. mi.),Coastline (coast/area ratio)
0,Afghanistan,ASIA (EX. NEAR EAST),647500,"0,00"
1,Albania,EASTERN EUROPE,28748,"1,26"
2,Algeria,NORTHERN AFRICA,2381740,"0,04"
3,American Samoa,OCEANIA,199,"58,29"
4,Andorra,WESTERN EUROPE,468,"0,00"
...,...,...,...,...
222,West Bank,NEAR EAST,5860,"0,00"
223,Western Sahara,NORTHERN AFRICA,266000,"0,42"
224,Yemen,NEAR EAST,527970,"0,36"
225,Zambia,SUB-SAHARAN AFRICA,752614,"0,00"
226,Zimbabwe,SUB-SAHARAN AFRICA,390580,"0,00"

In [40]:
more_vars['Country'] = more_vars['Country'].replace('Syria', 'Syrian Arab Republic')
more_vars['Country'] = more_vars['Country'].replace('Turkey', 'Turkiye')
more_vars['Country'] = more_vars['Country'].replace('Slovakia', 'Slovak Republic')
more_vars['Country'] = more_vars['Country'].replace('Czech Republic', 'Czechia')
more_vars['Country'] = more_vars['Country'].replace('Iran', 'Iran, Islamic Rep.')
more_vars['Country'] = more_vars['Country'].replace('Egypt', 'Egypt, Arab Rep.')
more_vars['Country'] = more_vars['Country'].replace('Venezuela', 'Venezuela, RB')
more_vars['Country'] = more_vars['Country'].replace('Hong Kong', 'Hong Kong SAR, China')
more_vars['Country'] = more_vars['Country'].replace('Kyrgyzstan', 'Kyrgyz Republic')
more_vars['Country'] = more_vars['Country'].replace('Macedonia', 'North Macedonia')
more_vars['Country'] = more_vars['Country'].replace('Korea, South', 'Korea, Rep.')
more_vars['Country'] = more_vars['Country'].replace('Russia', 'Russian Federation')
more_vars['Country'] = more_vars['Country'].replace('Trinidad & Tobago', 'Trinidad and Tobago')

In [41]:
# Check for mismatches between 'country_name' and 'Country'
olympics_countries = set(merged_df['country_name'].drop_duplicates())
other_countries = set(more_vars['Country'].drop_duplicates())

# Find codes that are in olympics but not in other
missing_in_other = olympics_countries - other_countries
print("Countries in olympics but not in other:", missing_in_other)

# Find codes that are in other but not in olympics
missing_in_olympics = other_countries - olympics_countries
print("Countires in other but not in olympics:", missing_in_olympics)

len(missing_in_other)

Countries in olympics but not in other: {'Montenegro', 'Kosovo'}
Countires in other but not in olympics: {'Greenland', 'British Virgin Is.', 'Gibraltar', 'Anguilla', 'Haiti', 'Antigua & Barbuda', 'Libya', 'Guinea', 'Laos', 'Belize', 'Burma', 'Turks & Caicos Is', 'Taiwan', 'Andorra', 'Malawi', 'Gambia, The', 'Seychelles', 'Maldives', 'Cambodia', 'Nepal', 'Yemen', 'Cook Islands', 'Saint Lucia', 'New Caledonia', 'Sierra Leone', 'Jersey', 'Aruba', 'Chad', 'Rwanda', 'Tanzania', 'Monaco', 'Solomon Islands', 'Honduras', 'Nicaragua', 'Wallis and Futuna', 'Comoros', 'Virgin Islands', 'Western Sahara', 'Saint Helena', 'Kiribati', 'Bosnia & Herzegovina', 'Albania', 'Benin', 'Central African Rep.', 'Martinique', 'Congo, Repub. of the', 'Saint Vincent and the Grenadines', 'Nauru', 'East Timor', 'Gaza Strip', 'Mayotte', 'Somalia', 'Congo, Dem. Rep.', 'Montserrat', 'Madagascar', 'Lesotho', 'West Bank', 'Dominica', 'Oman', 'Vanuatu', 'El Salvador', 'Mali', 'St Pierre & Miquelon', 'Equatorial Guinea', 'Isle of Man', 'American Samoa', 'Liberia', 'Cape Verde', 'Netherlands Antilles', 'Bhutan', 'Tuvalu', 'Brunei', 'Cayman Islands', 'Marshall Islands', 'Sao Tome & Principe', 'Lebanon', 'Malta', 'French Polynesia', 'Micronesia, Fed. St.', 'Mauritania', 'Swaziland', 'Korea, North', 'Reunion', 'French Guiana', 'N. Mariana Islands', 'Palau', 'Bolivia', 'Guadeloupe', 'Angola', 'Guam', 'Guernsey', 'Faroe Islands', 'Macau', 'Saint Kitts & Nevis', 'Bangladesh', 'Papua New Guinea', 'Guinea-Bissau'}

2

In [42]:
more_merged = merged_df.merge(more_vars,
                              left_on=['country_name'],
                              right_on=['Country']).drop(columns=['Country']).rename(columns={'Area (sq. mi.)': 'Area (sq. km.)'})

more_merged['Coastline (coast/area ratio)'] = more_merged['Coastline (coast/area ratio)'].str.replace(',', '.').astype(float)
more_merged = more_merged.rename(columns={'Region': 'region', 
                                          'Area (sq. km.)': 'area_sqkm', 
                                          'Coastline (coast/area ratio)': 'coastline_coast_area_ratio'})
more_merged['GDP_per_capita'] = more_merged['GDP'] / more_merged['population']
more_merged['host_country_status'] = np.where(more_merged['country_name'] == more_merged['game_location'], 1, 0)

more_merged['region'].drop_duplicates()

0     WESTERN EUROPE
1     NORTHERN AMERICA
2     EASTERN EUROPE
7           ASIA (EX. NEAR EAST)
10    OCEANIA
17                   C.W. OF IND. STATES
19                LATIN AMER. & CARIB
28    SUB-SAHARAN AFRICA
37    NORTHERN AFRICA
39    BALTICS
52    NEAR EAST
Name: region, dtype: object

#more_merged.to_csv('olympics_new.csv', index=False)

In [58]:
more_merged

,country_name,country_3_letter_code,year,medal_count,gold_count,silver_count,bronze_count,game_location,game_season,GDP,population,region,area_sqkm,coastline_coast_area_ratio,GDP_per_capita,host_country_status
0,Austria,AUT,1992,21,6,7,8,France,Winter,1.950781e+11,7840709.0,WESTERN EUROPE,83870,0.00,24880.164118,0
1,Canada,CAN,1992,7,2,3,2,France,Winter,5.943761e+11,28371264.0,NORTHERN AMERICA,9984670,2.02,20949.933265,0
2,Czechia,TCH,1992,3,0,0,3,France,Winter,3.480501e+10,10319123.0,EASTERN EUROPE,78866,0.00,3372.865430,0
3,Finland,FIN,1992,7,3,1,3,France,Winter,1.125325e+11,5041992.0,WESTERN EUROPE,338145,0.37,22319.059460,0
4,France,FRA,1992,9,3,5,1,France,Winter,1.401466e+12,58849943.0,WESTERN EUROPE,547030,0.63,23814.227368,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,Slovak Republic,SVK,2010,3,1,1,1,Canada,Winter,9.116284e+10,5391428.0,EASTERN EUROPE,48845,0.00,16908.847956,0
1184,Slovenia,SLO,2010,3,0,2,1,Canada,Winter,4.820824e+10,2048583.0,EASTERN EUROPE,20273,0.23,23532.480854,0
1185,Sweden,SWE,2010,11,5,2,4,Canada,Winter,4.958126e+11,9378126.0,WESTERN EUROPE,449964,0.72,52869.044289,0
1186,Switzerland,SUI,2010,9,6,0,3,Canada,Winter,5.988510e+11,7824909.0,WESTERN EUROPE,41290,0.00,76531.372941,0
1187,United States,USA,2010,37,9,15,13,Canada,Winter,1.504896e+13,309327143.0,NORTHERN AMERICA,9631420,0.21,48650.643128,0