In [605]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [606]:
gdp_df = pd.read_csv('GDP_new.csv')
results_df = pd.read_csv('Results.csv')
hosts_df = pd.read_csv('Hosts.csv')

In [607]:
gdp_df.head()

,Country,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,3.201437e+10,3.326951e+10,...,9.859871e+11,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12
2,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
3,Africa Western and Central,AFW,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,1.591084e+10,1.451058e+10,...,8.339481e+11,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11

In [608]:
results_df.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

In [609]:
hosts_df.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [610]:
# prep GDP df
olympic_years = [1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020]
gdp_olympic_years_df = gdp_df[['Country', 'Country Code'] + [str(year) for year in olympic_years]]
gdp_olympic_years_df.head()

gdp_clean = pd.melt(gdp_olympic_years_df, id_vars=['Country', 'Country Code'], 
                  var_name='Year', value_name='GDP').dropna(subset=['GDP'])

gdp_clean['Year'] = gdp_clean['Year'].astype(int)
gdp_clean

                          Country Country Code  Year           GDP
1     Africa Eastern and Southern          AFE  1960  2.112502e+10
2                     Afghanistan          AFG  1960  5.377778e+08
3      Africa Western and Central          AFW  1960  1.044764e+10
13                      Australia          AUS  1960  1.860656e+10
14                        Austria          AUT  1960  6.592694e+09
...                           ...          ...   ...           ...
6112                        Samoa          WSM  2020  8.688984e+08
6113                       Kosovo          XKX  2020  7.717143e+09
6115                 South Africa          ZAF  2020  3.376196e+11
6116                       Zambia          ZMB  2020  1.811064e+10
6117                     Zimbabwe          ZWE  2020  2.150970e+10

[5122 rows x 4 columns]

In [611]:
# prep hosts df
hosts_clean = hosts_df.drop(columns=['game_end_date', 'game_start_date', 'game_name'])
hosts_clean.head()

          game_slug       game_location game_season  game_year
0      beijing-2022               China      Winter       2022
1        tokyo-2020               Japan      Summer       2020
2  pyeongchang-2018   Republic of Korea      Winter       2018
3          rio-2016              Brazil      Summer       2016
4        sochi-2014  Russian Federation      Winter       2014

In [612]:
# prep results df
# Extract the year from the 'slug_game' column in results_df
results_df['year'] = results_df['slug_game'].str.extract(r'(\d{4})').astype(int)

# Filter the results DataFrame for only the Olympic years
results_olympic_df = results_df[results_df['year'].isin(olympic_years)]

results_olympic_df = results_olympic_df.drop(columns=['discipline_title', 'event_title', 'participant_type', 'athletes', 'rank_equal', 'rank_position', 'country_code', 'athlete_url', 'athlete_full_name', 'value_unit', 'value_type'])
results_clean = results_olympic_df.dropna(subset=['medal_type']).groupby(
    ['slug_game', 'country_name', 'country_3_letter_code', 'year']).agg(
    medal_count=('medal_type', 'size'),
    gold_count=('medal_type', lambda x: (x == 'GOLD').sum()),
    silver_count=('medal_type', lambda x: (x == 'SILVER').sum()),
    bronze_count=('medal_type', lambda x: (x == 'BRONZE').sum())).reset_index()

results_clean

,slug_game,country_name,country_3_letter_code,year,medal_count,gold_count,silver_count,bronze_count
0,albertville-1992,Austria,AUT,1992,21,6,7,8
1,albertville-1992,Canada,CAN,1992,7,2,3,2
2,albertville-1992,Czechoslovakia,TCH,1992,3,0,0,3
3,albertville-1992,Democratic People's Republic of Korea,PRK,1992,1,0,0,1
4,albertville-1992,Finland,FIN,1992,7,3,1,3
...,...,...,...,...,...,...,...,...
1323,vancouver-2010,Slovakia,SVK,2010,3,1,1,1
1324,vancouver-2010,Slovenia,SLO,2010,3,0,2,1
1325,vancouver-2010,Sweden,SWE,2010,11,5,2,4
1326,vancouver-2010,Switzerland,SUI,2010,9,6,0,3
1327,vancouver-2010,United States of America,USA,2010,37,9,15,13

In [613]:
# merge results and hosts

merged_games = results_clean.merge(hosts_clean, left_on=['slug_game'], right_on=['game_slug']).drop(columns=['game_slug', 'game_year'])

In [614]:
# Check for mismatches between 'country_name' and 'Country'
merged_games_countries = set(merged_games['country_name'].drop_duplicates())
gdp_clean_countries = set(gdp_clean['Country'].drop_duplicates())

# Find codes that are in merged_games but not in gdp_clean
missing_in_gdp_clean = merged_games_countries - gdp_clean_countries
print("Countries in merged_games but not in gdp_clean:", missing_in_gdp_clean)

# Find codes that are in gdp_clean but not in merged_games
missing_in_merged_games = gdp_clean_countries - merged_games_countries
print("Countires in gdp_clean but not in merged_games:", missing_in_merged_games)

len(missing_in_gdp_clean)

Countries in merged_games but not in gdp_clean: {'Soviet Union', 'Serbia and Montenegro', 'Czechoslovakia', 'Netherlands Antilles', 'Ivory Coast', 'Chinese Taipei', 'Hong Kong, China', 'The Former Yugoslav Republic of Macedonia', "Democratic People's Republic of Korea", 'Venezuela', 'Unified Team', 'Islamic Republic of Iran', 'United States of America', 'Turkey', 'United Arab Republic', 'Bahamas', 'Egypt', 'ROC', 'Slovakia', 'Republic of Korea', 'US Virgin Islands', 'West Indies Federation', 'United Republic of Tanzania', 'Federal Republic of Germany', 'Olympic Athletes from Russia', "People's Republic of China", 'Republic of Moldova', 'German Democratic Republic (Germany)', 'Independent Olympic Athletes', 'Czech Republic', "CÃ´te d'Ivoire", 'Yugoslavia', 'Great Britain', 'Kyrgyzstan'}
Countires in gdp_clean but not in merged_games: {'Fragile and conflict affected situations', 'Equatorial Guinea', 'Aruba', 'Guinea', 'North America', 'Bolivia', 'Sint Maarten (Dutch part)', 'Lower middle income', 'Sierra Leone', 'IDA & IBRD total', 'China', 'Haiti', 'Gambia, The', 'OECD members', 'Myanmar', 'IDA total', 'Bosnia and Herzegovina', 'Bhutan', 'Northern Mariana Islands', 'Comoros', 'Faroe Islands', 'Dominica', 'Nicaragua', 'East Asia & Pacific (excluding high income)', 'Central Europe and the Baltics', 'High income', 'Seychelles', 'Africa Western and Central', 'East Asia & Pacific', 'Latin America & Caribbean (excluding high income)', 'Middle East & North Africa (excluding high income)', 'Papua New Guinea', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Latin America & Caribbean', 'Eswatini', 'Angola', 'South Asia (IDA & IBRD)', 'Upper middle income', 'Low & middle income', 'Latin America & the Caribbean (IDA & IBRD countries)', 'European Union', 'Nauru', 'Central African Republic', 'Egypt, Arab Rep.', 'Malawi', 'St. Kitts and Nevis', 'United States', 'Korea, Rep.', 'West Bank and Gaza', 'Kiribati', 'Lesotho', 'El Salvador', 'Oman', 'Marshall Islands', 'Europe & Central Asia (IDA & IBRD countries)', 'Sub-Saharan Africa (excluding high income)', 'Somalia', 'Tuvalu', 'Timor-Leste', 'Monaco', 'St. Vincent and the Grenadines', 'Slovak Republic', 'Heavily indebted poor countries (HIPC)', 'Arab World', 'Albania', "Cote d'Ivoire", 'Late-demographic dividend', 'South Asia', 'Turks and Caicos Islands', 'Early-demographic dividend', 'Malta', 'Greenland', 'Mali', 'Cambodia', 'Pre-demographic dividend', 'World', 'Guinea-Bissau', 'Czechia', 'Europe & Central Asia (excluding high income)', 'Liberia', 'St. Martin (French part)', 'Cabo Verde', 'Congo, Rep.', 'Venezuela, RB', 'Libya', 'Kyrgyz Republic', 'Africa Eastern and Southern', 'Sao Tome and Principe', 'Palau', 'Middle income', 'Caribbean small states', 'Yemen, Rep.', 'Other small states', 'Least developed countries: UN classification', 'Rwanda', 'Virgin Islands (U.S.)', 'Post-demographic dividend', 'St. Lucia', 'Tanzania', 'Turkiye', 'Middle East & North Africa (IDA & IBRD countries)', 'Andorra', 'IDA only', 'Isle of Man', 'Brunei Darussalam', 'Small states', 'Cayman Islands', 'Bangladesh', 'American Samoa', 'Euro area', 'Channel Islands', 'Maldives', 'Macao SAR, China', 'New Caledonia', 'Madagascar', 'Vanuatu', 'Low income', 'Pacific island small states', 'Guam', 'Iran, Islamic Rep.', 'Belize', 'IDA blend', 'Middle East & North Africa', 'Antigua and Barbuda', 'East Asia & Pacific (IDA & IBRD countries)', 'Chad', 'Lao PDR', 'French Polynesia', 'Benin', 'Moldova', 'Sub-Saharan Africa', 'Bahamas, The', 'Mauritania', 'Honduras', 'Nepal', 'Europe & Central Asia', 'Solomon Islands', 'South Sudan', 'Congo, Dem. Rep.', 'Curacao', 'United Kingdom', 'Hong Kong SAR, China', 'Micronesia, Fed. Sts.', 'IBRD only'}

34

In [615]:
country_name_mapping = {
    'Soviet Union': 'Russian Federation', 
    'Serbia and Montenegro': 'Serbia', 
    'Czechoslovakia': 'Czechia', 
    'Netherlands Antilles': 'Netherlands', 
    'Ivory Coast': "Cote d'Ivoire", 
    'Hong Kong, China': 'Hong Kong SAR, China',
    'The Former Yugoslav Republic of Macedonia': 'North Macedonia', 
    'Venezuela': 'Venezuela, RB', 
    'Unified Team': 'Russian Federation', 
    'Islamic Republic of Iran': 'Iran, Islamic Rep.', 
    'United States of America': 'United States', 
    'Turkey': 'Turkiye', 
    'United Arab Republic': 'Egypt, Arab Rep.', 
    'Bahamas': 'Bahamas, The', 
    'Egypt': 'Egypt, Arab Rep.',
    'Slovakia': 'Slovak Republic',
    'Republic of Korea': 'Korea, Rep.',
    'US Virgin Islands': 'Virgin Islands (U.S.)', 
    'United Republic of Tanzania': 'Tanzania', 
    'Federal Republic of Germany': 'Germany',  # Historical reference; now Germany
    'Olympic Athletes from Russia': 'Russian Federation',
    "People's Republic of China": 'China',
    'Republic of Moldova': 'Moldova',
    'German Democratic Republic (Germany)': 'Germany',  # Historical reference; now Germany
    'Czech Republic': 'Czechia',
    "CÃ´te d'Ivoire": "Cote d'Ivoire",
    'Yugoslavia': 'Serbia',  # Or other successor states like Croatia, Slovenia, etc.
    'Great Britain': 'United Kingdom',
    'Kyrgyzstan': 'Kyrgyz Republic'
}

# Update merged_games and gdp_clean datasets with standardized country names
merged_games['country_name'] = merged_games['country_name'].replace(country_name_mapping)
gdp_clean['Country'] = gdp_clean['Country'].replace(country_name_mapping)

# Re-check for discrepancies after standardization
merged_games_countries = set(merged_games['country_name'].drop_duplicates())
gdp_clean_countries = set(gdp_clean['Country'].drop_duplicates())

missing_in_gdp_clean = merged_games_countries - gdp_clean_countries
missing_in_merged_games = gdp_clean_countries - merged_games_countries

print("Countries in merged_games but not in gdp_clean:", missing_in_gdp_clean)
print("Countries in gdp_clean but not in merged_games:", missing_in_merged_games)

Countries in merged_games but not in gdp_clean: {"Democratic People's Republic of Korea", 'Independent Olympic Athletes', 'ROC', 'Chinese Taipei', 'West Indies Federation'}
Countries in gdp_clean but not in merged_games: {'Fragile and conflict affected situations', 'Equatorial Guinea', 'Aruba', 'Guinea', 'North America', 'Bolivia', 'Sint Maarten (Dutch part)', 'Lower middle income', 'Sierra Leone', 'IDA & IBRD total', 'Haiti', 'Gambia, The', 'OECD members', 'Myanmar', 'IDA total', 'Bosnia and Herzegovina', 'Bhutan', 'Northern Mariana Islands', 'Comoros', 'Faroe Islands', 'Dominica', 'Nicaragua', 'East Asia & Pacific (excluding high income)', 'Central Europe and the Baltics', 'High income', 'Seychelles', 'Africa Western and Central', 'East Asia & Pacific', 'Latin America & Caribbean (excluding high income)', 'Middle East & North Africa (excluding high income)', 'Papua New Guinea', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Latin America & Caribbean', 'Eswatini', 'Angola', 'South Asia (IDA & IBRD)', 'Upper middle income', 'Low & middle income', 'Latin America & the Caribbean (IDA & IBRD countries)', 'European Union', 'Nauru', 'Central African Republic', 'Malawi', 'St. Kitts and Nevis', 'West Bank and Gaza', 'Kiribati', 'Lesotho', 'El Salvador', 'Oman', 'Marshall Islands', 'Europe & Central Asia (IDA & IBRD countries)', 'Sub-Saharan Africa (excluding high income)', 'Somalia', 'Tuvalu', 'Timor-Leste', 'Monaco', 'St. Vincent and the Grenadines', 'Heavily indebted poor countries (HIPC)', 'Arab World', 'Albania', 'Late-demographic dividend', 'South Asia', 'Turks and Caicos Islands', 'Early-demographic dividend', 'Malta', 'Greenland', 'Mali', 'Cambodia', 'Pre-demographic dividend', 'World', 'Guinea-Bissau', 'Europe & Central Asia (excluding high income)', 'Liberia', 'St. Martin (French part)', 'Cabo Verde', 'Congo, Rep.', 'Libya', 'Africa Eastern and Southern', 'Sao Tome and Principe', 'Palau', 'Middle income', 'Caribbean small states', 'Yemen, Rep.', 'Other small states', 'Least developed countries: UN classification', 'Rwanda', 'Post-demographic dividend', 'St. Lucia', 'Middle East & North Africa (IDA & IBRD countries)', 'Andorra', 'IDA only', 'Isle of Man', 'Brunei Darussalam', 'Small states', 'Cayman Islands', 'Bangladesh', 'American Samoa', 'Euro area', 'Channel Islands', 'Maldives', 'Macao SAR, China', 'New Caledonia', 'Madagascar', 'Vanuatu', 'Low income', 'Pacific island small states', 'Guam', 'Belize', 'IDA blend', 'Middle East & North Africa', 'Antigua and Barbuda', 'East Asia & Pacific (IDA & IBRD countries)', 'Chad', 'Lao PDR', 'French Polynesia', 'Benin', 'Sub-Saharan Africa', 'Mauritania', 'Honduras', 'Nepal', 'Europe & Central Asia', 'Solomon Islands', 'South Sudan', 'Congo, Dem. Rep.', 'Curacao', 'Micronesia, Fed. Sts.', 'IBRD only'}

In [637]:
final_merged = merged_games.merge(gdp_clean, 
                                  left_on=['country_name', 'year'], 
                                  right_on=['Country', 'Year']).drop(columns=
                                                                          ['Country', 'Country Code', 'Year', 'slug_game'])

final_merged['country_name'].nunique() #132

final_merged

,country_name,country_3_letter_code,year,medal_count,gold_count,silver_count,bronze_count,game_location,game_season,GDP
0,Austria,AUT,1992,21,6,7,8,France,Winter,1.950781e+11
1,Canada,CAN,1992,7,2,3,2,France,Winter,5.943761e+11
2,Czechia,TCH,1992,3,0,0,3,France,Winter,3.480501e+10
3,Finland,FIN,1992,7,3,1,3,France,Winter,1.125325e+11
4,France,FRA,1992,9,3,5,1,France,Winter,1.401466e+12
...,...,...,...,...,...,...,...,...,...,...
1186,Slovak Republic,SVK,2010,3,1,1,1,Canada,Winter,9.116284e+10
1187,Slovenia,SLO,2010,3,0,2,1,Canada,Winter,4.820824e+10
1188,Sweden,SWE,2010,11,5,2,4,Canada,Winter,4.958126e+11
1189,Switzerland,SUI,2010,9,6,0,3,Canada,Winter,5.988510e+11
1190,United States,USA,2010,37,9,15,13,Canada,Winter,1.504896e+13

In [639]:
final_merged.to_csv('olympics.csv', index=False)